# alles hinter einer Raute (#) gilt als Kommentar
desktop.ini
*.bak             
*.db
*.tws
ut_*.*       	  
_vti_cnf/    	  
_vti_pvt/    	  
data/_vti_cnf/    
images/_vti_cnf/  
scripte/_vti_cnf/ 
/_vti_cnf/
/_vti_pvt/
