# alles hinter einer Raute (#) gilt als Kommentar
*.bak             #
ut_*.*       	  # alle UnitTest-Dateien ut_*.* im gleichen Ordner wie .gitignore werden ignoriert
_vti_cnf/    	  # ignoriere alle Dateien im _vti_cnf-Ordner
_vti_pvt/    	  # ignoriere alle Dateien im _vti_pvt-Ordner
data/_vti_cnf/    #
images/_vti_cnf/  #
scripte/_vti_cnf/ #
#!index.php       # Tracke die index.php, selbst wenn alle PHP-Dateien ignoriert werden
#/TODO            # ignoriere die TODO-Datei, nicht den TODO-Ordner
#docs/*.txt       # ignoriere alle txt-Dateien in docs, aber nicht in docs/unterordner/
/_vti_cnf/
/_vti_pvt/
*.db
images/Thumbs.db
