vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|de
vti_usernames:VR|
vti_previewflags:SW|2
vti_timecreated:TR|16 Jan 2009 08:08:51 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_copytimestamp_ftp\://www.befo.com/www/voca:TR|19 Sep 2015 15:58:02 -0000
vti_htmlextensions:SW|.alx.asp.aspx.dwt.hta.htc.htm.html.htt.htx.jsp.master.php.php2.php3.php4.php5.phtml.shtml.stm.asa.asax.
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|12.0.0.4518
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Zurück
vti_navbuttonnextlabel:SR|Weiter
vti_approvallevels:VR|Genehmigt Abgelehnt Prüfung\\ läuft
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|1
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Reisen Kostenabrechnung Geschäftlich Wettbewerb Ziele Ideen Verschiedenes Inaktiv VIP In\\ Bearbeitung Planung Zeitplan Protokoll +Ziele +Zeitplan +Ideen +In\\ Bearbeitung +Kostenabrechnung +Reisen +Geschäftlich +Protokoll +Inaktiv +Verschiedenes +Wettbewerb +VIP +Planung ++In\\ Bearbeitung ++Planung ++Ziele ++Ideen ++Protokoll ++Kostenabrechnung ++Geschäftlich ++Verschiedenes ++Wettbewerb ++Inaktiv ++Zeitplan ++VIP ++Reisen +++Inaktiv +++Ziele +++Zeitplan +++Ideen +++Geschäftlich +++Verschiedenes +++Protokoll +++Wettbewerb +++Reisen +++In\\ Bearbeitung +++VIP +++Planung +++Kostenabrechnung ++++In\\ Bearbeitung ++++Planung ++++VIP ++++Ziele ++++Ideen ++++Reisen ++++Inaktiv ++++Geschäftlich ++++Verschiedenes ++++Zeitplan ++++Wettbewerb ++++Kostenabrechnung ++++Protokoll
vti_previewurl:SW|http://375nb/ineta/
vti_approvalapproved:SR|Genehmigt
vti_approvaldenied:SR|Abgelehnt
vti_defaultcharset:SR|iso-8859-1
vti_navbuttonuplabel:SR|Nach oben
vti_cachedlocalmetastorewebsitepath:SX|C:\\Users\\paetzold.EMIL-DITTMANN\\AppData\\Roaming\\Microsoft\\Expression\\WebsiteCache\\voca\\
